<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--自动扫描@Controller注入为bean -->
   <context:component-scan base-package="com.bee.fetch.controller"/>


   <!--<mvc:annotation-driven/>-->


     <!--静态资源(js、image等)的访问 -->
    <mvc:default-servlet-handler/>

    <!-- 以下为SpringMVC配置 -->
    <mvc:annotation-driven>
        <!-- 返回json数据，@response使用 -->
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                 <property name="supportedMediaTypes">
                     <list>
                         <value>application/json; charset=UTF-8</value>
                         <value>application/x-www-form-urlencoded; charset=UTF-8</value>
                     </list>
                 </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        <property name="prefix" value="/Content/html/"/>
        <property name="suffix" value=".html"/>
    </bean>


    <!--<mvc:resources mapping="/static/**" location="/Content/Html/dist/static/" />-->
    <!--<mvc:view-controller path="/" view-name="/index.html"/>-->
    <!--<mvc:resources mapping="/**" location="/Content/html/" />-->


</beans>