<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd"
       default-lazy-init="false">

    <!-- 安全认证过滤器 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/login" />
        <property name="successUrl" value="/index"/>
        <property name="filterChainDefinitions">
            <value>
                /login = anon
                /doLogin = anon
                /Content/** = anon
                /** = authc

            </value>
        </property>
    </bean>

    <!-- 定义 Shiro 主要业务对象 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="systemAuthorizingRealm" />
        <!--<property name="sessionManager" ref="sessionManager" />-->
    </bean>

    <!--<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">-->
        <!--&lt;!&ndash; session的失效时长，单位毫秒 &ndash;&gt;-->
        <!--<property name="globalSessionTimeout" value="30000"/>-->
        <!--&lt;!&ndash; 删除失效的session &ndash;&gt;-->
        <!--<property name="deleteInvalidSessions" value="true"/>-->
    <!--</bean>-->

    <bean id="systemAuthorizingRealm" class="com.bee.fetch.utils.MyShiroRealm"></bean>



    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />


</beans>